$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.292 21.375V18.583H31.708V21.375Z"/></svg>