$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M3 21V16.35H21V21ZM3 14.35V9.625H21V14.35ZM3 7.625V3H21V7.625Z"/>
</baseSVG>
