$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M20 33.625 17 30.583 25.5 22.083H6.375V17.875H25.5L17 9.375L20 6.333L33.667 20Z"/></svg>