$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M19.55 35.1V12.9L30.6 24Z"/></svg>