$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M14.475 18.05 8.475 12 14.475 5.95Z"/></svg>