$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.65 13.3 12 9.95 15.35 13.3Z"/></svg>