$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M6 34V6H19V34ZM21 18V6H34V18ZM34 34H21V20H34Z"/></svg>