$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M17.5 16.5 16.075 15.1 18.175 13H3V11H18.175L16.1 8.9L17.525 7.5L22 12Z"/>
</baseSVG>
