$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M24 28.6 16.45 21.05H31.55Z"/></svg>