$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M6.792 28.25V11.75H33.208V28.25Z"/></svg>