$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M1.5 19.5V4.5H22.5V19.5ZM5.75 18H18.25V6H5.75Z"/></svg>