$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M10.45 20.075V7H4.95V3.925H19.05V7H13.55V20.075Z"/></svg>