$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.25 36V12H31.3L39.75 24L31.2 36Z"/></svg>