$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M4.3 19.7V12.3H7.7V19.7ZM10.3 19.7V4.3H13.7V19.7ZM16.3 19.7V9.3H19.7V19.7Z"/></svg>