$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M14 18 8 12 14 6 15.4 7.4 10.8 12 15.4 16.6Z"/></svg>