$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M2 22V2H4V22ZM10.5 17V7H13.5V17ZM20 22V2H22V22Z"/></svg>