$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M1.325 18.9V5.1L11.65 12ZM12.35 18.9V5.1L22.675 12Z"/></svg>