$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M4 42 24 6 44 42ZM9.1 39H22.5V14.9ZM25.5 39H38.9L25.5 14.9Z"/></svg>