$ const { icon, iconStyle, fill, title, description, ...otherAttrs } = input
static function importIconPath(style, fill, icon) {
    let result = `./components/${style}-`
    if(fill){
        result += `fill-`
    }
    result += `${icon}.marko`
    console.log('res',result)
    return result
}
$ const iconPromise = import(importIconPath(iconStyle,fill,icon));
<await(iconPromise)>
    <@then|iconComponent|>
        <${iconComponent} ...otherAttrs/>
    </@then>
</await>