$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M16.5 38.333V23.125H11.583V3.125H28.375L21.833 17.875H28.417Z"/></svg>