$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M9.5 23.9V13.7H6.35V0.55H17.575L13.4 10H17.65Z"/></svg>