$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M9.875 21.5 10.925 14.1H6.425L13.125 2.45H14.125L13.075 9.85H17.575L10.875 21.5Z"/></svg>