$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M3 20V18H21V20ZM3 16V8H21V16ZM5 14H19V10H5ZM3 6V4H21V6ZM5 14V10V14Z"/>
</baseSVG>
