$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M18.708 23.833V8.375H21.333V23.833ZM18.708 31.583V28.958H21.333V31.583Z"/></svg>