$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M9.875 20.825V7.425H4.375V3.175H19.625V7.425H14.125V20.825Z"/></svg>