$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M17.333 33.958V11.417H7.875V6.042H32.125V11.417H22.667V33.958Z"/></svg>