$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M10.625 29.5V13.833H14.083V23.375L26.792 10.667L29.417 13.292L16.667 26H26.25V29.5Z"/></svg>