$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M18 18V6H20V18ZM8 18V6H16V18ZM4 18V6H6V18Z"/></svg>