$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M23 23.175 18.575 18.75H1V0.8H23Z"/></svg>