$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M11.167 37.083V6.167H16.125V2.833H23.917V6.167H28.917V37.083Z"/></svg>