$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M20.025 14.95V9.175h-14v5.775Zm2.825 2.825H3.2V14.2H1.15V9.925H3.2V6.35h19.65Z"/></svg>