$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M16.65 18.675V5.325H19.175V18.675ZM4.825 18.675V5.325L14.825 12Z"/></svg>