$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M34.25 37.1V10.9H38.1V37.1ZM9.9 37.1V10.9L28.85 24Z"/></svg>