$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M14.95 39.85V7.8L40.1 23.85Z"/></svg>