$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.292 35.083V4.833H31.75V35.083L20 30.083Z"/></svg>