$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M6.875 27.708V12.292L18.25 20ZM21.75 27.708V12.292L33.125 20Z"/></svg>