$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M4.575 16.2V7.8L10.875 12ZM13.125 16.2V7.8L19.425 12Z"/></svg>