$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M28.2 40.1V7.85H39.25V40.1ZM8.75 40.1V7.85H19.8V40.1Z"/></svg>