$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M13.9 12.95V19.775H10.15V12.95L3.3 4.225H20.75Z"/></svg>