$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M18 20V22H2L22 2V8H20V6.825L6.825 20ZM20 18V10H22V18ZM20 22V20H22V22Z"/>
</baseSVG>
