$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.417 14V6.021L12.417 10.021Z"/></svg>