$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M9.65 17.35V16.65H20.35V17.35ZM3.65 7.35V6.65H20.35V7.35ZM9.65 12.35V11.65H20.35V12.35Z"/></svg>