$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M7 22V4H10V2H14V4H17V22ZM11 16H13V14H15V12H13V10H11V12H9V14H11Z"/>
</baseSVG>
