$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M32.6 41.35 21.75 30.55H13.45V17.4H21.75L32.6 6.65Z"/></svg>