$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.075 21.475 6.75 20.15 14.875 12 6.75 3.85 8.075 2.525 17.55 12Z"/></svg>