$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M8.4 13.625V10.375H11.575L14.625 7.325V16.675L11.575 13.625Z"/></svg>