$ const { prefix, icon, ...otherAttrs } = input
<if(prefix === "mdi")>
    $ let iconStyle = otherAttrs?.iconStyle
    $ iconStyle = iconStyle ? iconStyle : "outlined"
    <markcons-mdi icon=icon iconStyle=iconStyle ...otherAttrs/>
</if>
