$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M3.292 33.333V6.667H36.708V33.333ZM6.083 12.875V30.5H33.917V12.875Z"/></svg>