$ const {title, description, ...otherAttrs} = input; 
<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" ...otherAttrs>
<title>${title}</title>
<description>${description}</description>
<path d="M13.975 17.85 8.125 12 13.975 6.15 15.275 7.475 10.75 12 15.275 16.525Z"/></svg>