$ const { title, desc, ...otherAttrs } = input
<baseSVG ...otherAttrs>
<title>${title}</title><desc>${desc}</desc>
<path d="M8 18H16V16H8ZM8 14H16V12H8ZM4 22V2H14L20 8V22ZM13 9H18L13 4Z"/>
</baseSVG>
